<form class="example-form">
  <div class="container-fluid">
	<div class="form-group">
		<label>Valor 1</label>
		<input type="number" name="" class="form-control">
	</div>

	<div class="form-group">
		<label>Valor 2</label>
		<input type="number" name="" class="form-control">
	</div>

	<div class="form-group">
		<label>Operação</label>
		<select class="form-control">
			<option value="">Selecione uma operacao</option>
			<option value="soma">Operação +</option>
			<option value="subtracao">Operação -</option>
			<option value="divisao">Operação /</option>
			<option value="multiplicacao">Operação *</option>
		</select>
	</div>

	<div class="form-group">
		<label for="">Resultado</label>
		<input type="text" class="form-control" readonly>
	</div>
	
	<button type="submit" class="btn btn-success">Calcular</button>
  </div>


</form>